// COLORS
$primary: #1890ff;
$light-primary: #5db9ff;
$background: #212121;
$grey: #333;
$muted-white: #ddd;

// SPACING
$spacing-s: 8px;
$spacing-m: 12px;

//FONT SIZE
$font-s: 12px;
$font-m: 14px;
$font-l: 16px;
$font-xl: 20px;

$app-width: 600px;
