@use './variables' as *;

.meal {
  display: flex;
  flex-direction: column;
  box-shadow: $shadow;
  border-radius: $radius;
  padding: $spacing-m;
  color: $grey;
  margin-bottom: $spacing-xl;
  .add-meal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-l;
    .meal__name {
      font-size: $font-xl;
      font-weight: 500;
    }
    .meal__calorie {
      font-size: $font-l;
    }
    .meal__add {
      font-size: 30px;
      margin-left: $spacing-m;
      color: $primary;
    }
  }
}
