@use './variables' as *;

.blog {
  .blog__card {
    margin-bottom: 20px;

    border-radius: $radius;
    box-shadow: $shadow;
    .card__image {
      aspect-ratio: 2 / 1;
      object-fit: cover;
    }
  }
}
