@use './variables' as *;

.nav {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  justify-content: space-around;
  box-shadow: 0px 0px 5px 5px rgb(242, 242, 242);
  max-width: $app-width;
  background-color: #fff;

  .item-container {
    display: flex;
    flex-direction: column;
    padding: 12px 0 4px 0;
    color: $grey;
    font-size: $font-s;
    .nav__item {
      font-size: 25px;
    }
  }
  .item-container.active {
    color: $primary;
  }
}
