@use './variables' as *;

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  .action__image {
    padding: 0 30px;
  }
  .action__name {
    font-size: $font-xl;
  }
  .action__macro {
    * {
      margin: 0 $spacing-m;
    }
  }
  .action__data {
    display: flex;
    width: 100%;

    .data__weigth {
      width: 40%;
      font-size: 16px;
      text-align: right;
    }
    .data__type {
      width: 60%;
      margin-left: $spacing-xl;
    }
  }
  .action__confirm {
    margin-top: $spacing-xl;
    width: 100%;
    background-color: $primary;
  }

  .action__delete {
    margin-top: $spacing-xl;
  }
}
