@use './variables' as *;

.product {
  display: flex;

  padding: $spacing-m 0;
  border-top: 1px solid $muted-white;
  color: $grey;
  .product__image {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  .product__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: $spacing-m;
    .product__name {
      font-size: $font-l;
      font-weight: 500;
    }
    .product__weigth,
    .product__calories {
      font-size: $font-s;
      color: $light-grey;
    }
  }
  .product__action {
    font-size: 20px;
    align-self: center;
    margin-left: auto;
    color: $grey;
  }
}
