@use './variables' as *;

.settings-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing-xl;

  .settings-item__label {
    font-size: $font-l;
  }
  .settings-item__input {
    width: 150px;
    font-size: $font-l;
  }
  .settings-item__input.number {
    .ant-input-number-input {
      text-align: right;
    }
  }
  .settings-item__input.number::-webkit-inner-spin-button,
  .settings-item__input.number::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
  .settings-item__input.numbe[type='number'] {
    appearance: textfield;
  }

  .settings-item__switch {
    background-color: $grey !important;
  }
}
